body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
    border-collapse: collapse;
    width: 600px;
}

th, td {
    border: 1px solid #6f6f6f;
    padding: 5px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

header {
    width: 1440px;
    height: 112px; /*900px / 8*/
    background-color: #003f0f;
    padding: 10px 0;
}

header h1 {
    text-align: center;
    color: white;
}

nav{
    width: 1280px;  /* 1440px - 160 px (restar margin) - 80 + 80 (restar padding)*/
    height: 65px; /*900px / 20 + 20px*/
    background-color: rgb(188, 188, 188);
    padding: 0 80px;
}

nav ul {
    list-style: none;
    
    margin-top: 11.2px; /*900px / 80*/
    padding: 0;
}

nav ul li{
    display: inline-block;
    margin-right: 254px; /* 1440px / 5 - 34px*/
    margin-left: 254px; /* 1440px / 5 - 34px*/
    margin-bottom: 0;
    margin-top: 12px;
    background-color: #003f0f;
    border-radius: 10px;
    padding: 10px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 15px;
}

form{
    width: 1360px; /*1440px - 80px (restar padding)*/
    background-color: rgb(225, 225, 225);
    margin-top: 0;
    padding: 40px;
}

fieldset{
    border: 1px solid #003f0f;
    margin: 20px 0px;
}

section{
    background-color: #97dea8;
    width: 1280px; /*1440px - 160px*/
    height: 400px; /*900px - 500px*/
    padding: 40px;
    margin: 40px;
    border-radius: 10px;
}

section h3{
    margin: auto;
    text-align: center;
}

section .p1{
    border: 1px solid #003f0f;
    border-radius: 10px;
    width: 778px; /*1440px - 662*/
    padding: 10px;
}

section  div{
    width: 800px;
    float: left;
}

section > img{
    width: 320px;
    float: left;
    margin-left: 100px;
    margin-top: 50px;
}

article{
    border: 1px solid #003f0f;
    border-radius: 10px;
    width: 380px;
    float: left;
    margin: 20px;
}

article .p2{
    width: 350px;
    padding: 20px;
}

article img{
    width: 220px;
    padding-left: 100px;
    border-radius: 10px;
}

footer{
    width: 1400px; /*1440px - 40px (restar padding)*/
    height: 200px;
    margin-top: 0;
    padding: 20px;
    background-color: #003f0f;
    color: white;
}

footer > div{
    float: left;
    width: 600px; /*1440px / 2 - 80px - 40px quitarle el padding*/
    margin: 20px;
    padding: 20px;
    text-align: center;
}

footer ul{
    list-style: none;
}

footer a{
    text-decoration: none;
    color: white;
}

